<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>post event</title>
</head>
<style>
    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    input {

        padding: 5px;
        width: 30em;
        height: 5em;
        border-radius: 20px;
        margin: 2em;
    }
</style>

<body>
    <form action="/admin/postevent" method="post">
        <input type="text" name="heading" placeholder="heading">
        <input type="text" name="para" placeholder="paragraph">
        <input type="file" name="image" id="image" placeholder="image">
        <button type="submit">submit</button>
    </form>
</body>

</html>